label {
    display:flex;
    flex-direction:column;
}

body {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin-left: 5%;
    width: 90%;
}

fieldset {
    border-radius: 10px;
    margin-bottom: 5px;
}

#moodRadioButtons {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.moodRadioBtn {
    display:flex;
    flex-direction:row;
    margin:3px;
}