label {
    display:flex;
    flex-direction:column;
}

body {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

fieldset {
    border-radius: 10px;
    margin-bottom: 5px;
    width: 80%;
}

#moodRadioButtons {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.moodRadioBtn {
    display:flex;
    flex-direction:row;
    margin:3px;
}