label {
    display:flex;
    flex-direction:column;
}

body {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: lightblue;
}

body {
    margin-left: 5%;
    width: 90%;
}

fieldset {
    border-radius: 10px;
    margin-bottom: 5px;
}

#moodRadio, #searchBar {
    width: 40%;
}

#journalEntrySubmitBtn, #journalEntryUpdateBtn {
    width: 80%;
    font-size: 100%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: lightblue;
    border-radius: 5px;
}

#moodRadioButtons, #filterSets {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.moodRadioBtn {
    display:flex;
    flex-direction:row;
    margin:3px;
}

.deleteBtn, .editBtn {
    background-color: lightblue;
    border-radius: 5px;
}